@import "~@fortawesome/fontawesome-free/css/all.css";

ion-icon{
    margin-right:1%;
}
ion-button{
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 2%;
}
i{
    margin-right: 1%;
}
div{
    margin-bottom: 5%;
    margin-top: 2%;
}

