<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Signup
    </ion-title>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isCharging" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Signup</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="telefono-formulario">
    <form (ngSubmit)="onSubmit()" class="example-form">
      <ng-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCountry" class="custom" [items]="countries" bindLabel="nombre" bindValue="phone_code" [searchFn]="customSearchFn" clearAllText="Clear"> 
        <ng-template ng-label-tmp let-item="item">
            <span>{{ getcountryemoji(item.iso2) }} {{ item.nombre + ' (+' + item.phone_code + ')' }}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
              <span>{{ getcountryemoji(item.iso2) }} {{ item.nombre + ' (+' + item.phone_code + ')' }}</span>
        </ng-template>
      </ng-select>
      <ion-item>
        <ion-input placeholder="Phone Number" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="phoneNumber" required></ion-input>
      </ion-item>
      <ion-button shape="round" color="primary" type="submit"><ion-icon name="person-circle-outline"></ion-icon>Login</ion-button>
    </form>
    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header [translucent]="true">
          <ion-toolbar>
            <ion-title>
              OTP
            </ion-title>
          </ion-toolbar>
          <ion-progress-bar *ngIf="isCharging" type="indeterminate"></ion-progress-bar>
        </ion-header>
        <ion-content [fullscreen]="true">
        <ion-card>
          <ion-card-header>
            <ion-card-title>An SMS has been sent to</ion-card-title>
            <ion-card-subtitle>+{{ selectedCountry }} {{ phoneNumber }}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            Enter the OTP code below
          </ion-card-content>
        </ion-card>
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig" class="custom-otp-input"></ng-otp-input>
      </ion-content>
      </ng-template>
  </ion-modal>
  </div>
  <ion-loading trigger="open-loading" message="Getting ready..." duration="1000"></ion-loading>
  <div id="recaptcha-container"></div>
</ion-content>
