<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'signup' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="reportbug()"><ion-icon name="bug"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-select [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}" [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()" aria-label="Language" interface="popover" value="es">
        <ion-select-option value="en">{{ getcountryemoji('GB') }}</ion-select-option>
        <ion-select-option value="es">{{ getcountryemoji('ES') }}</ion-select-option>
        <ion-select-option value="fr">{{ getcountryemoji('FR') }}</ion-select-option>
        <ion-select-option value="de">{{ getcountryemoji('DE') }}</ion-select-option>
        <ion-select-option value="cn">{{ getcountryemoji('CN') }}</ion-select-option>
        <ion-select-option value="ru">{{ getcountryemoji('RU') }}</ion-select-option>
        <ion-select-option value="it">{{ getcountryemoji('IT') }}</ion-select-option>
        <ion-select-option value="in">{{ getcountryemoji('IN') }}</ion-select-option>
        <ion-select-option value="ar">{{ getcountryemoji('SA') }}</ion-select-option>
        <ion-select-option value="pt">{{ getcountryemoji('PT') }}</ion-select-option>
        <ion-select-option value="pk">{{ getcountryemoji('PK') }}</ion-select-option>
        <ion-select-option value="jp">{{ getcountryemoji('JP') }}</ion-select-option>
        <ion-select-option value="tr">{{ getcountryemoji('TR') }}</ion-select-option>
        <ion-select-option value="kr">{{ getcountryemoji('KR') }}</ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isCharging" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="telefono-formulario">
    <form (ngSubmit)="onSubmit()" [formGroup]="myForm" class="example-form">
      <ng-select [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCountry" class="custom" [items]="countries" bindLabel="name" bindValue="phone_code" [searchFn]="customSearchFn" clearAllText="Clear"> 
        <ng-template ng-label-tmp let-item="item">
            <span *ngIf="item.name == ''">{{ getcountryemoji("") }} {{ 'select' | translate }}</span>
            <span *ngIf="item.name != ''">{{ getcountryemoji(item.iso2) }} {{ item.name + ' (+' + item.phone_code + ')' }}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm" let-index="index">
              <span *ngIf="item.name != ''">{{ getcountryemoji(item.iso2) }} {{ item.name + ' (+' + item.phone_code + ')' }}</span>
        </ng-template>
      </ng-select>
      <ion-item>
        <ion-input placeholder="{{ 'signup' | translate }}" type="tel" [(ngModel)]="phoneNumber" formControlName="phone" required></ion-input>
      </ion-item>
      <ion-button shape="round" color="primary" type="submit"><ion-icon name="person-circle-outline"></ion-icon>{{ 'login' | translate }}</ion-button>
    </form>
    <ion-modal [isOpen]="isModalOpen">
      
      <ng-template>
        <ion-header [translucent]="true">
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="reportbug()"><ion-icon name="bug"></ion-icon></ion-button>
            </ion-buttons>
            <ion-title>
              OTP
            </ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="doRefresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
            </ion-buttons>
          </ion-toolbar>
          <ion-progress-bar *ngIf="isCharging" type="indeterminate"></ion-progress-bar>
        </ion-header>
        <ion-content [fullscreen]="true">
        <ion-card>
          <ion-card-header>
            <ion-card-title>An SMS has been sent to</ion-card-title>
            <ion-card-subtitle>{{ countryCodeEmoji }} +{{ selectedCountry }} {{ phoneNumber }}</ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            &#9196; Enter the OTP code below &#9196;
          </ion-card-content>
        </ion-card>
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig" class="custom-otp-input"></ng-otp-input>
      </ion-content>
      <ion-footer>
        <ion-button expand="full" shape="round" color="primary" [disabled]="true" *ngIf="isButtonDisabled">
          Espera {{ countdown }} segundos
        </ion-button>
        <ion-button expand="full" shape="round" color="primary" *ngIf="!isButtonDisabled" (click)="OTPRefreshButton()">
          Resend OTP
        </ion-button>
      </ion-footer>
      </ng-template>
  </ion-modal>
  </div>
  <ion-loading trigger="open-loading" message="Getting ready..." duration="1000"></ion-loading>
  <div id="recaptcha-container"></div>
</ion-content>
