<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ¡Bienvenido!, {{ phone }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="signout()"><ion-icon name="exit-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isCharging" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Inbox
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tu suscripción, {{ phone }}</ion-card-title>
    </ion-card-header>
  <ion-card-content *ngIf="subscriptionData">
    <ion-icon *ngIf="subscriptionData.status == 'active'" name="checkmark-circle"></ion-icon>
    {{ startDate }} - {{ endDate }}<br>
  </ion-card-content>
  <ion-card-content *ngIf="!subscriptionData">
    <ion-icon name="close-circle"></ion-icon>
    You're not suscribed
  </ion-card-content>
  </ion-card>
  <ion-card *ngIf="subscriptionData">
    <ion-card-header>
      <ion-card-title>Configura tu W2Notion</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <form [formGroup]="myForm">
    <ion-input formControlName="secret" labelPlacement="floating" [clearInput]="true" placeholder="secret_m01YZ9I4ju7NHC9eG5uTU71e7dqPDktY69fgLyUCVIE" label="Introduce el Notion Secret" type="password" required></ion-input>
    <ion-input formControlName="dbid" labelPlacement="floating" [clearInput]="true" placeholder="e1bf230611fe4374a37c3561fb686b44" label="Introduce tu DB ID" type="password" required></ion-input>
    </form>
  </ion-card-content>
  </ion-card>
  <ion-button *ngIf="subscriptionData" shape="round" expand="full" (click)="connect()"><ion-icon name="checkmark-done-outline"></ion-icon>Connect</ion-button>
  <ion-button *ngIf="!subscriptionData" color="danger"shape="round" (click)="payment()" expand="full"><ion-icon name="card"></ion-icon>Suscribe</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>
            OTP
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="doRefresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-progress-bar *ngIf="isCharging" type="indeterminate"></ion-progress-bar>
      </ion-header>
      <ion-content [fullscreen]="true">
      <ion-card>
        <ion-card-header>
          <ion-card-title>An SMS has been sent to</ion-card-title>
          <ion-card-subtitle>{{ phone }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          &#9196; Enter the OTP code below &#9196;
        </ion-card-content>
      </ion-card>
      <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig" class="custom-otp-input"></ng-otp-input>
    </ion-content>
    <ion-footer>
      <ion-button expand="full" shape="round" color="primary" [disabled]="true" *ngIf="isButtonDisabled">
        Espera {{ countdown }} segundos
      </ion-button>
      <ion-button expand="full" shape="round" color="primary" *ngIf="!isButtonDisabled" (click)="OTPRefreshButton()">
        Resend OTP
      </ion-button>
    </ion-footer>
    </ng-template>
</ion-modal>
  <div id="recaptcha-container"></div>
</ion-content>