<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ 'welcome' | translate }}, {{ phone }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="reportbug()"><ion-icon name="bug"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-select  [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage()" aria-label="Language" interface="popover" value="es">
        <ion-select-option value="en">{{ getcountryemoji('GB') }}</ion-select-option>
        <ion-select-option value="es">{{ getcountryemoji('ES') }}</ion-select-option>
        <ion-select-option value="fr">{{ getcountryemoji('FR') }}</ion-select-option>
        <ion-select-option value="de">{{ getcountryemoji('DE') }}</ion-select-option>
        <ion-select-option value="cn">{{ getcountryemoji('CN') }}</ion-select-option>
        <ion-select-option value="ru">{{ getcountryemoji('RU') }}</ion-select-option>
        <ion-select-option value="it">{{ getcountryemoji('IT') }}</ion-select-option>
      </ion-select>
      <ion-button (click)="signout()"><ion-icon name="exit-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-progress-bar *ngIf="isCharging" type="indeterminate"></ion-progress-bar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ 'suscription' | translate }}, {{ phone }}
      </ion-card-title>
    </ion-card-header>
  <ion-card-content *ngIf="subscriptionData">
    <ion-icon *ngIf="subscriptionData.status == 'active'" name="checkmark-circle"></ion-icon>
    {{ startDate }} - {{ endDate }}<br>
  </ion-card-content>
  <ion-button *ngIf="subscriptionData && databases" shape="round" expand="full" (click)="suscription()"><ion-icon name="person"></ion-icon>{{ 'mysuscription' | translate }}</ion-button>
  <ion-card-content *ngIf="!subscriptionData">
    <ion-icon name="close-circle"></ion-icon>
    {{ 'notsuscribed' | translate }}
  </ion-card-content>
  </ion-card>
  <ion-card *ngIf="subscriptionData">
    <ion-card-header>
      <ion-card-title>{{ 'configure' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-select *ngIf="databases" [compareWith]="compareObjects" (ionChange)="changeDefaultDatabase($event)" [(ngModel)]="selectedDatabase" label="{{ 'database' | translate }}">
        <ion-select-option *ngFor="let db of databases" [value]="{ dbname: db.dbname, id: db.id, url: db.url }">{{ db.dbname }}</ion-select-option>
      </ion-select>
      <ion-text *ngIf="urlDatabase"><a [href]="urlDatabase" target="_blank">{{ urlDatabase }}</a></ion-text>
  </ion-card-content>
  <ion-button *ngIf="subscriptionData && !databases" shape="round" expand="full" (click)="connect()"><ion-icon name="checkmark-done-outline"></ion-icon>{{ 'connect' | translate }}</ion-button>
  <ion-button *ngIf="subscriptionData && databases" shape="round" expand="full" (click)="connect()"><ion-icon name="checkmark-done-outline"></ion-icon>{{ 'reconnect' | translate }}</ion-button>
  </ion-card>
  <ion-button *ngIf="!subscriptionData" color="danger"shape="round" (click)="payment()" expand="full"><ion-icon name="card"></ion-icon>{{ 'suscribe' | translate }}</ion-button>
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header [translucent]="true">
        <ion-toolbar>
          <ion-title>
            OTP
          </ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="doRefresh()"><ion-icon name="refresh-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
        <ion-progress-bar *ngIf="isCharging" type="indeterminate"></ion-progress-bar>
      </ion-header>
      <ion-content [fullscreen]="true">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ 'sms' | translate }}</ion-card-title>
          <ion-card-subtitle>{{ phone }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          &#9196; {{ 'otp' | translate }} &#9196;
        </ion-card-content>
      </ion-card>
      <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="otpConfig" class="custom-otp-input"></ng-otp-input>
    </ion-content>
    <ion-footer>
      <ion-button expand="full" shape="round" color="primary" [disabled]="true" *ngIf="isButtonDisabled">
        {{ 'wait' | translate }} {{ countdown }} {{ 'seconds' | translate }}
      </ion-button>
      <ion-button expand="full" shape="round" color="primary" *ngIf="!isButtonDisabled" (click)="OTPRefreshButton()">
        {{ 'reotp' | translate }}
      </ion-button>
    </ion-footer>
    </ng-template>
</ion-modal>
  <div id="recaptcha-container"></div>
</ion-content>